.chat-main
  .chat-main__main-header
    .chat-main__main-header__left-box
      .chat-main__main-header__left-box__name 
        = @group.name
      .chat-main__main-header__left-box__member 
        Member：
        - @group.users.each do |user|
          = user.name
    .chat-main__main-header__right-box 
      .chat-main__main-header__right-box__edit 
        = link_to 'Edit',edit_group_path(current_user),class: "chat-main__main-header__right-box__edit"
  .chat-main__main-content
    = render @messages
  .chat-main__form
    = form_for [@group, @message] do |f| 
      .chat-main__form__for         
        = f.text_field :content, class: 'chat-main__form__for_text', placeholder: 'type a message'
        .chat-main__form__for_text__i
          = f.label :image, class: 'chat-main__form__for_text__i__image' do
            = icon('fas', 'image', class: 'chat-main__form__for_text__i__image')
            = f.file_field :image, class: 'chat-main__form__for_text__i__image_file'
        = f.submit 'Send', class: 'chat-main__form__for__submit'
